.mainP {
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-bottom: 0px;
    position: absolute;
    width: 1750px;
    height: 450px;
}

.header {
    text-align: center;
    padding-top: 45px;
    margin-top: 500px;
    font-size: 50px;
}

.imageDiv {
    flex-basis: 40%;
    margin-left: 350px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}