.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.header {
    text-align: center; padding-top: 15%; margin-top: 50px; font-size: 50px;
}

.recentNews {
    text-align: left; margin-top: 0px; padding-top: 45px; margin-left: 25%;
}

.paddingRight {
    margin-right: 15%;
}

.imagePadding {
    flex-basis: 40%; margin-right: 25%;
}

.imageSize {
    height: 300; width: 300px;
}

.linkPadding {
    margin-left: 20%; margin-top: 200px;
}

.imageFormat {
    margin-right: 15%;
}

.imagePaddingLeft {
    flex-basis: 40%; height: 150; width: 150px; margin-bottom: 175px;
}

.bottomText {
    margin-bottom: 175px;
    margin-right: 25%;
}
